<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    >

    <uses-permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        tools:node="remove" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />



    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <permission
        android:name="com.younginnovators.sjk.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->

    <uses-permission android:name="com.younginnovators.sjk.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application

        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/plast"
        android:label="@string/app_name"

        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PlastFocus_Activities.SplashScreen"
            android:exported="true"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name=".PlastFocus_Activities.LoginMenuActivity"
            android:label="Visitor Registration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.RegistrationScreen"
            android:label="Visitor Registration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.ExhibitoRlOginwebView"
            android:label="Plastfocus"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>



        <activity
            android:name=".PlastFocus_Activities.MapList"
            android:label="Select Exhibitors"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".PlastFocus_Activities.GetExhibitorDeatilsClass"
            android:label="Exhibitor Details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.VisitorList"
            android:label="Exhibitors iVisited"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.GoToMap"
            android:label="Exhibition Map"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.FindSoueceAndDestinationMap"
            android:label="Exhibition Map"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.ActivityNotification"
            android:label="Notifications"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".PlastFocus_Activities.MapListWithDesination"
            android:label="Select Exhibitor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".PlastFocus_Activities.ActivityImageMapping"
            android:label="Exhibition Map"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".Platsfocus_ImageMapping.ActivityImageMappingSingle"
            android:label=" Exhibition Map"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.ExhibitorList"
            android:label="Visitor List"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".PlastFocus_Activities.VIsitorLoginScreen"
            android:label="Visitor Login"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".PlastFocus_Activities.GetExhibitorScanDataDetails"
            android:label="Exhibitor Deatils"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.GetVisitorScanDeatilsPage"
            android:label="Exhibitor Deatils"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.VisitoreDeatilsPage"
            android:label="Exhibitor Deatils"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.ExhibitorLogin"
            android:label="Exhibitor Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.ActivityExhibitiorlistTab"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <service
            android:name=".PlastFocus_FirebaseServices.NotificationManager"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".PlastFocus_Activities.ActivityMainHomePage"
            android:screenOrientation="portrait"


            android:windowSoftInputMode="stateAlwaysHidden"></activity>


        <receiver
            android:name=".PlastFocus_VollyApiClasess.InternetConnector_Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- Intent filters for broadcast receiver -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PlastFocus_Activities.SeminarClass1"
            android:label="Seminar"

            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".PlastFocus_Activities.VisitorListMeeing"
            android:label=" My Meetings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.ExhibitorMeetingDeatils"
            android:label="Exhibitor Details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".PlastFocus_Activities.BookMeeting"
            android:label="Book  Meeting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.ExhibitorListMeeting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>


        <activity
            android:name=".PlastFocus_Activities.ActivityNewsAndEventMainPage"
            android:label="PlastFocus News &amp; Update"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".PlastFocus_Activities.MyProfile"
            android:label="MyProfile"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:replace="android:screenOrientation" />

        <activity
            android:name=".PlastFocus_Activities.ActivityAboutEvent"
            android:label="About Plastfocus"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name=".PlastFocus_Activities.ScannerQrCode"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--<receiver android:name=".utils.NetworkChange"
            android:exported="true">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>-->


        <service
            android:name=".PlastFocus_FirebaseServices.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

            </intent-filter>
        </service>
        <service
            android:name=".PlastFocus_FirebaseServices.MyFirebaseInstanceIDService"

            android:exported="true">
            <intent-filter>

                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />

            </intent-filter>
        </service>

        <receiver
            android:name=".PlastFocus_FirebaseServices.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".PlastFocus_Activities.ActivitySeminar"
            android:label="Seminar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--<receiver
            android:enabled="true"
            android:exported="false"
            android:name=".services.FirebaseBackgroundService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
-->

        <receiver
            android:name=".PlastFocus_FirebaseServices.FirebaseBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".PlastFocus_FirebaseServices.NotificationActivity"
            android:theme="@style/sampleTheme"></activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/applogo" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>